<!DOCTYPE html>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="sidebar sidebar-collapse" id="sidebar" th:fragments="SideBarContents">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav has-child open">
            <li class="has-child open">
                <a href="dash.html" class="active">
                    <span class="nav-icon uil uil-create-dashboard"></span>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li class="has-child">
                <a href="#" class="">
                    <span class="nav-icon uil uil-window-section"></span>
                    <span class="menu-text">Point Of Sale</span>
                </a>
            </li>
            <li>
                <a href="changelog.html" class="">
                    <span class="nav-icon uil uil-arrow-growth"></span>
                    <span class="menu-text">Stock Management</span>
                </a>
            </li>
            <li>
                <a href="changelog.html" class="">
                    <span class="nav-icon uil uil-arrow-growth"></span>
                    <span class="menu-text">Financial Reports</span>
                </a>
            </li>
            <li class="">
                <a href="login.html">
                    <span class="nav-icon uil "></span>
                    <span class="menu-text">Settings</span>
                </a>
            </li>
            <li class="">
                <a href="sign-up.html">
                    <span class="nav-icon uil uil-sign-out-alt"></span>
                    <span class="menu-text">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>